.content-wrapper {
  display: flex;
  border-bottom: 1px solid #233333;
  .link-wrapper {
    width: 200px;
    border-right: 1px solid #233333;
    .container {
      list-style: none;
      padding: 0;
      .router-item {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
        a {
          display: inline-block;
          padding: 10px 20px;
          border: 1px solid #233333;
          border-radius: 6px;
        }
      }
    }
  }
  .route-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}